body {
  background-color: #eee;
}

#header {
  color: #fefefe;
  background-color: #57b004;
  min-height: 350px;
}

#header h1 {
  margin-bottom: 30px;
}

#header .underline {
  color: #fefefe;
  text-decoration: underline;
}

#header .info {
  margin-top: 30px;
}

#logo-wrap {
  min-height: 124px;
  border-bottom: 20px solid #57b004;
}

#logo-wrap .container {
  padding: 0;
  text-align: right;
}

#logo-wrap a {
  display: inline-block;
}

#remera {
  padding-top: 30px;
  padding-bottom: 30px;
}

#remera .btn-group-vertical {
  width: 100%;
}

.btn-verde, .btn-verde:hover, .btn-verde:focus {
  color: #fefefe;
  background-color: #57b004;
}

#disenios {
  display: block;
  height: 110px;
  background-color: #fff;
  overflow-x: scroll;
  white-space: nowrap;
}

#disenios img {
  margin-top: 10px;
  max-width: 80px;
  max-height: 80px;
  display: inline;
}

#nodakar {
  background-image: url("../imagenes/remera.png");
  background-repeat: no-repeat;
}

#mas-info {
  color: #fefefe;
  background-color: #3b5998;
  min-height: 800px;
}