body {
  background-color: #eee;
}

#header {
  color: #fefefe;
  background-color: #57b004;
  min-height: 350px;
}

#header h1 {
  margin-bottom: 30px;
}

#header .underline {
  text-decoration: underline;
}

#header .info {
  margin-top: 30px;
}

#header .lead1 {
  color: #222;
  background-color: #fff;
  border: 20px solid #ff60b6;
}

#header .lead2 {
  color: #222;
  background-color: #ffc556;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logo-wrap {
  min-height: 124px;
  border-bottom: 20px solid #57b004;
}

#logo-wrap .container {
  padding: 0;
  text-align: right;
}

#logo-wrap.gris {
  padding-top: 50px;
  border-bottom: 0;
  min-height: initial;
}

#logo-wrap a {
  display: inline-block;
}

#remera {
  padding-top: 30px;
  padding-bottom: 30px;
}

#remera .btn-group-vertical {
  width: 100%;
}

.btn-verde, .btn-verde:hover, .btn-verde:focus {
  color: #fefefe;
  background-color: #57b004;
}

#disenios {
  display: block;
  height: 110px;
  background-color: #fff;
  overflow-x: scroll;
  white-space: nowrap;
}

#disenios img {
  margin-top: 10px;
  max-width: 80px;
  max-height: 80px;
  display: inline;
}

#nodakar {
  background-image: url("../imagenes/remera.png"), url("../imagenes/remera-a.png");
  background-repeat: no-repeat;
}

#info-antecedentes h2, #info-antecedentes h3 {
  padding: 5px;
  background-color: #d5ff8c;
}

#info-oponemos .row {
  margin-bottom: 60px;
  border: 20px solid #ffd78a;
  background-color: #ffffff;
}

#info-opinion .row {
  background-color: #d5ff8c;
  padding-top: 20px;
  margin-bottom: 60px;
}

#info-proyecto h2 {
  background-color: #8cddff;
}

#info-documentos {
  margin-bottom: 600px;
}

#info-documentos h2 {
  background-color: #d5ff8c;
}

#barra-detalle {
  color: #fefefe;
  background-color: #57b004;
}

#remera-publicada {
  padding-top: 30px;
  margin-bottom: 60px;
}

#hechas {
  color: #fefefe;
  background-color: #57b004;
  min-height: 350px;
  padding-bottom: 30px;
}

.hechas-contenedor {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

.hechas-contenedor img {
  width: 300px;
}

.dropdown-menu.inner .a {
  background-color: #ffffff;
}
.dropdown-menu.inner .b {
  background-color: #ff6057;
}
.dropdown-menu.inner .c {
  background-color: #f7ff57;
}
.dropdown-menu.inner .d {
  background-color: #57ff62;
}
.dropdown-menu.inner .e {
  background-color: #57ffff;
}
.dropdown-menu.inner .f {
  background-color: #576fff;
}
.dropdown-menu.inner .g {
  background-color: #ff57f5;
}
