body {
  background-color: #ddfff8;
}

#header {
  color: #fefefe;
  background-color: #57b004;
  min-height: 350px;
}

#header .lead0 {
  background-image: url("../imagenes/imagen-header.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 60px;
}

#header h1 {
  margin-top: 60px;
  margin-bottom: 0;
  font-family: 'Julee', cursive;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 2px 2px #36812b;
}

#header h2 {
  font-family: 'Julee', cursive;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 1px 1px #36812b;
}

#header .underline {
  text-decoration: underline;
}

#menu-masinfo, #menu-hechas {
  background-color: #ff4700;
  color: #fff;
}

#mas-info .info {
  margin-top: 10px;
  padding-bottom: 10px;
}

#mas-info .info h2 {
  margin-bottom: 30px;
}

#header .lead1 {
  color: #222;
  background-color: #fff;
  border: 10px solid #ff4700;
  padding-top: 15px;
  margin-bottom: 30px;
}

#mas-info .lead2 {
  color: #222;
  background-color: #fff856;
  margin-top: 30px;
  margin-bottom: 30px;
}

#mas-info .lead2 .lead {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
}

#mas-info .lead2 .lead .btn {
  background-color: #fff856;
}

#logo-wrap {
  min-height: 124px;
  border-bottom: 20px solid #57b004;
}

#logo-wrap .container {
  padding: 0;
  text-align: right;
}

#logo-wrap.gris {
  padding-top: 50px;
  border-bottom: 0;
  min-height: initial;
}

#logo-wrap a {
  display: inline-block;
}

#remera {
  padding-top: 30px;
  padding-bottom: 30px;
}

#remera .btn-group-vertical {
  width: 100%;
}

.btn-verde, .btn-verde:hover, .btn-verde:focus {
  color: #fefefe;
  background-color: #57b004;
}

#disenios {
  display: block;
  height: 110px;
  background-color: #fff;
  overflow-x: scroll;
  white-space: nowrap;
}

#disenios img {
  margin-top: 10px;
  max-width: 80px;
  max-height: 80px;
  display: inline;
}

#nodakar {
  background-image: url("../imagenes/remera.png"), url("../imagenes/remera-a.png");
  background-repeat: no-repeat;
}

#info-antecedentes .container {
  background-color: #fff;
  margin-bottom: 30px;
}

#info-antecedentes h3 {
  padding: 5px;
  background-color: #ff4700;
  color: #fff;
  font-family: 'Julee', cursive;
  font-size: 38px;
}

#info-antecedentes h2, #info-recorrido h2 {
    padding: 5px 15px;
    background-color: #ff4700;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Julee', cursive;
    font-size: 48px;
}

#info-antecedentes .btn {
  background-color: #ff4700;
  color: #fff;
}

#info-oponemos .row {
  margin-bottom: 60px;
  border: 10px solid #fff856;
  background-color: #ffffff;
}

#info-oponemos .btn {
  background-color: #fff856;
}
#info-opinion .row {
  background-color: #d5ff8c;
  padding-top: 20px;
  margin-bottom: 60px;
}

#info-proyecto {
  margin-bottom: 600px;
}

#info-proyecto h2 {
  background-color: #8cddff;
}

#info-documentos {
}

#info-documentos h2 {
  background-color: #d5ff8c;
}

#barra-detalle {
  color: #fefefe;
  background-color: #57b004;
}

#remera-publicada {
  padding-top: 30px;
  margin-bottom: 60px;
}

#hechas {
  color: #fefefe;
  background-color: #57b004;
  min-height: 350px;
  padding-bottom: 30px;
}

.hechas-contenedor {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

.hechas-contenedor img {
  width: 300px;
}

.dropdown-menu.inner .a {
  background-color: #ffffff;
}
.dropdown-menu.inner .b {
  background-color: #ff6057;
}
.dropdown-menu.inner .c {
  background-color: #f7ff57;
}
.dropdown-menu.inner .d {
  background-color: #57ff62;
}
.dropdown-menu.inner .e {
  background-color: #57ffff;
}
.dropdown-menu.inner .f {
  background-color: #576fff;
}
.dropdown-menu.inner .g {
  background-color: #ff57f5;
}

label.error {
  color: #ff3333;
}

#admin-container {
  margin-top: 100px;
}

#lista-remeras tr td {
  vertical-align: middle;
}

#lista-remeras .censurada {
  background-color: #ffaaaa;
}

.hechas-admin {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hechas-admin img {
  width: 100px;
}

#admin-hud {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  position: fixed;
  right: 15px;
  top: 0;
  z-index: 100;
  border-radius: 0 0 20px 20px;
}

#admin-hud a {
  margin: 5px;
}

.recorrido-img {
  text-align: center;
  margin-bottom: 30px;
}