body {
  background-color: #ddfff8;
}

#header {
  color: #fefefe;
  background-color: #57b004;
}

#header .lead0, #header h1 {
  padding-bottom: 10px;
}

#header .lead0 a.btn {
  width: 33%;
}

#header .dropdown-menu>li>a:hover, #header .dropdown-menu>li>a:focus {
  background-color: #57b004;
}

#header .underline {
  text-decoration: underline;
}

#header #head {
  width: 970px;
  height: 317px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-image: url("../imagenes/head.jpg");
  background-repeat: no-repeat;
  position: relative;
}

#header #menu-remera2 {
  width: 410px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 0;
}

#col-infobar {
  background-color: #222;
  padding: 15px;
  font-size: small;
}

#col-canvas {
  padding-right: 0;
}

#infobar {
  color: #eee;
}

#header .lead1 {
  color: #222;
  background-color: #fff;
  border: 10px solid #ff4700;
  padding-top: 15px;
  margin-bottom: 30px;
}

#logo-wrap {
  min-height: 124px;
  border-bottom: 20px solid #57b004;
}

#logo-wrap .container {
  padding: 0;
  text-align: right;
}

#logo-wrap.gris {
  padding-top: 50px;
  border-bottom: 0;
  min-height: initial;
}

#logo-wrap a {
  display: inline-block;
}

#remera {
  padding-top: 30px;
  padding-bottom: 30px;
}

#remera .btn-group-vertical {
  width: 100%;
}

.btn-verde, .btn-verde:hover, .btn-verde:focus {
  color: #fefefe;
  background-color: #57b004;
}

#disenios {
  display: block;
  height: 110px;
  background-color: #fff;
  overflow-x: scroll;
  white-space: nowrap;
}

#disenios img {
  margin-top: 10px;
  max-width: 80px;
  max-height: 80px;
  display: inline;
}

#nodakar {
  background-image: url("../imagenes/remera-logo2.png"), url("../imagenes/remera.png"), url("../imagenes/remera-a.png");
  background-repeat: no-repeat;
}

#info-antecedentes .container {
  background-color: #fff;
  margin-bottom: 30px;
}

#info-antecedentes h2, #info-recorrido h2, #info-proyecto h2, #info-documentos h2 {
    padding: 0;
    background-color: #ff4700;
}

#info-antecedentes .btn {
  background-color: #ff4700;
  color: #fff;
}

#info-antecedentes ul {
  list-style: none;
  padding:0;
  margin:0;
}

#info-antecedentes li { 
  padding-left: 1em;
  text-indent: -.7em;
  margin-top: 6px;
}

#info-antecedentes li:before {
  content: "• ";
  color: red; /* or whatever color you prefer */
}

#info-antecedentes .naran {
  padding: 2px 4px;
  background-color: #ff4700;
  color: #fff;
  font-weight: bold;
}

#info-oponemos .row {
  margin-bottom: 60px;
  border: 10px solid #fff856;
  background-color: #ffffff;
}

#info-oponemos .btn {
  background-color: #fff856;
}
#info-opinion .row {
  background-color: #57b004;
  padding-top: 20px;
  margin-bottom: 60px;
  font-size: 16px;
  color: #fff;
}

#info-opinion a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

#info-opinion a.btn {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}

#info-proyecto {
  font-size: 16px;
}

#info-proyecto h2, #info-documentos h2 {
  background-color: #1c91be;
}

#barra-detalle {
  color: #fefefe;
  background-color: #57b004;
}

#remera-publicada {
  padding-top: 30px;
  margin-bottom: 60px;
}

#hechas, #hechas2 {
  background-color: #57b004;
}

#hechas2 {
  width: 160px;
  height: 165px;
  position: absolute;
  top: 90px;
  right: 15px;
}

.hechas2-contenedor {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hechas2-contenedor img {
  width: 150px;
}

#hechas {
  min-height: 350px;
  padding-bottom: 30px;
}

#hechas h2 {
  margin-bottom: 0;
}

.hechas-contenedor {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

.hechas-contenedor img {
  width: 300px;
}

.dropdown-menu.inner .a {
  background-color: #ffffff;
}
.dropdown-menu.inner .b {
  background-color: #ff6057;
}
.dropdown-menu.inner .c {
  background-color: #f7ff57;
}
.dropdown-menu.inner .d {
  background-color: #57ff62;
}
.dropdown-menu.inner .e {
  background-color: #57ffff;
}
.dropdown-menu.inner .f {
  background-color: #576fff;
}
.dropdown-menu.inner .g {
  background-color: #ff57f5;
}

label.error {
  color: #ff3333;
}

#admin-container {
  margin-top: 100px;
}

#lista-remeras tr td {
  vertical-align: middle;
}

#lista-remeras .censurada {
  background-color: #ffaaaa;
}

.hechas-admin {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hechas-admin img {
  width: 100px;
}

#admin-hud {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  position: fixed;
  right: 15px;
  top: 0;
  z-index: 100;
  border-radius: 0 0 20px 20px;
}

#admin-hud a {
  margin: 5px;
}

#info-proyecto, #info-recorrido {
  margin-bottom: 30px;
}

#info-documentos {
  margin-bottom: 300px;
}

#info-documentos a {
  font-weight: bold;
}

#info-documentos a.btn {
  font-weight: normal;
}

#info-documentos .container, #info-proyecto .container {
  background-color: #fff;
}

#info-recorrido .btn {
  background-color: #ff4700;
  color: #fff;
}

#info-documentos .btn, #info-proyecto .btn {
  background-color: #1c91be;
  color: #fff;
}

.recorrido-img {
  text-align: center;
  margin-bottom: 30px;
}