<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Basta de Rally Dakar</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='nodakar/css/nodakar.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='nodakar/imagenes/favicon.ico') }}" />
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block admin %}
    {% if usuario is defined and usuario.is_authenticated() %}
  <div id="admin-hud">
    {% if id_remera is defined %}
      {% if censurada %}
        <a  href="{{ url_for('desbloquear', id_remera=id_remera) }}" class="btn btn-default btn-lg">Desbloquear</a>
      {% else %}
        <a  href="{{ url_for('bloquear', id_remera=id_remera) }}" class="btn btn-default btn-lg">Bloquear</a>
      {% endif %}
    {% endif %}
    {% if not viendo_lista %}
      <a href="{{ url_for('admin') }}" class="btn btn-default btn-lg">Ver todas</a>
    {% endif %}
    <a href="{{ url_for('salir') }}" class="btn btn-default btn-lg">Salir</a>
  </div>
    {% endif %}
  {% endblock %}
  {% block body %}
  {% endblock %}
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  {% block bodyscripts %}
  {% endblock %}
</body>
</html>
