<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>No al Dakar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='nodakar/css/nodakar.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Julee|Schoolbell|Merienda+One' rel='stylesheet' type='text/css'>
  <script src="{{ url_for('static', filename='fabricjs/all.js') }}"></script>
</head>
<body>
  <input id="texto" type="text" />
  <canvas id="nodakar" width="640", height="400"></canvas>
  <script type="text/javascript" src="{{ url_for('static', filename='nodakar/js/nodakar.js') }}"></script>
</body>
</html>
