{% extends "base.html" %}

  {% block head %}
  <link href='http://fonts.googleapis.com/css?family=Julee' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery-minicolors/jquery.minicolors.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.css') }}">
  <script src="{{ url_for('static', filename='fabricjs/all.js') }}"></script>
  {% endblock %}

  {% block body %}
  <div id="header">
    <div class="container clear-top">
      <div class="row lead0">

      <h1>SACALE LA CARETA AL DAKAR</h1>
      <h2>Un evento de extrema exigencia… a la naturaleza</h2>
      <a href="#remera" id="menu-remera" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-arrow-down"></span> Diseñá tu remera</a>
      <span class="lead">&nbsp;y sumate a la protesta en Rosario.</span>
      </div>
      <div class="row lead1">
        <div class="info col-md-10">

          <p class="lead">La edición 2014 del Rally Dakar partirá en
          enero desde la ciudad de Rosario. Los Verdes nos oponemos a
          esta carrera, promocionada como un evento deportivo de alta
          exigencia, que es en realidad un millonario negocio que
          produce altísimos impactos en los ecosistemas que atraviesa,
          degrada la calidad de vida de sus habitantes y ha causado ya
          demasiada muerte.

          <p class="lead">Hace poco, la Secretaría de Cultura y
          Educación de la Municipalidad de Rosario se sumó al
          lanzamiento de la carrera con el concurso de diseño de
          remeras <a class="underline" href="http://www.rosariocultura.gob.ar/concursos-y-convocatorias/concurso-de-diseno-de-remeras-para-el-rally-dakar-2014">"Ponete
          la Camiseta del Dakar"</a>. Y nosotros te hacemos una
          contrapropuesta: mientras la ciudad te pide que te pongas la
          camiseta, nosotros te pedimos que le saques la careta.

          <p class="lead">Diseñá tu propia remera, usando esta
          aplicación y sumate vos también a la protesta que Los Verdes
          lanzamos en Rosario. No queremos Dakar ni acá, ni en
          Sudamérica.

          <p class="lead">Iremos mostrando las mejores remeras en
          nuestras redes sociales y en nuestra página la web. Decile
          No al Dakar.

          <p class="lead">En Twitter: #bastadedakar

          <p class="lead">
            <a href="#hechas" id="menu-hechas" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-down"></span>Remeras ya diseñadas</a>
            <a href="#mas-info" id="menu-masinfo" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-down"></span>Más información</a>


        </div>
      </div>

    </div>
  </div>
  <div id="logo-wrap">
    <div class="container clear-top">
      <a href="http://losverdes.org.ar/nuevo/">
        <img alt="Los Verdes" src="{{ url_for('static', filename='nodakar/imagenes/logo.png') }}"/>
      </a>
    </div>
  </div>

  <div id="remera" name="remera" class="container clear-top">
    <div class="row">
      <div class="col-md-8">

        <canvas id="nodakar" width="610", height="590"></canvas>

      </div>
      <div class="col-md-4">

        <div class="form-group">
          <label for="color-remera">Ponele color a la remera</label>
          <select id="color-remera" class="selectpicker show-tick">
            <option class="a">Blanco</option>
            <option class="b">Rojo</option>
            <option class="c">Amarillo</option>
            <option class="d">Verde</option>
            <option class="e">Celeste</option>
            <option class="f">Azul</option>
            <option class="g">Violeta</option>
          </select>

        </div>
        <div class="form-group">
          <label for="texto">Agregá o editá texto</label>
          <input type="text" id="texto" class="form-control" placeholder="Ingresá texto">
        </div>
        <div class="form-group">
          <label for="imagen">Agregá una imagen</label>
          <input type="file" id="imagen" title="Subir imagen" class="btn btn-default">
        </div>
        <div class="form-group">
          <label for="imagen">Agregá un diseño</label>
          <div id="disenios" class="row-fluid">
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/nodakar2.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/rueda.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/marca-rueda.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/flor1.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/desierto.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/piedra-a.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/piedra-b.svg') }}"/>
            </a>
          </div>
        </div>
        <div class="form-group">
          <label>Coloreá el texto o diseño seleccionado</label>
          <input type="hidden" id="color" class="form-control">
        </div>
        <div class="form-group">
          <label>Editá lo seleccionado</label>
          <div class="clear-top">
            <div class="btn-group-vertical clear-top">
              <a href="#" id="btn-borrar" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> Borrar</a>
              <a href="#" id="btn-subir" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-up"></span> Subir</a>
              <a href="#" id="btn-bajar" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-down"></span> Bajar</a>
              <!-- <a href="#" id="btn-frente" class="btn btn-default">Traer elemento al frente</a> -->
              <!-- <a href="#" id="btn-fondo" class="btn btn-default">Mandar elemento al fondo</a> -->
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>¿Terminaste?</label>
        <a id="btn-fin" class="btn btn-default btn-lg btn-verde" data-toggle="modal" href="#formuPublicar">
          <span class="glyphicon glyphicon-picture"></span> ¡Publicar!</a>
        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="formuPublicar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <form id="formu-publicar" class="form-horizontal" role="form" method="POST" action="{{ url_for('publicar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Publicá la remera</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
              <input type="text" name="nombre" id="inputNombre" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label for="inputCorreo" class="col-lg-2 control-label">Correo electrónico</label>
            <div class="col-lg-10">
              <input type="email" name="correo" id="inputCorreo" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label for="inputCiudad" class="col-lg-2 control-label">Ciudad</label>
            <div class="col-lg-10">
              <input type="text" name="ciudad" id="inputCiudad" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label for="inputProvincia" class="col-lg-2 control-label">Provincia</label>
            <div class="col-lg-10">
              <input type="text" name="provincia" id="inputProvincia" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPais" class="col-lg-2 control-label">País</label>
            <div class="col-lg-10">
              <input type="text" name="pais" id="inputPais" class="form-control" required>
            </div>
          </div>

          <input type="hidden" name="imagen" id="inputImagen">

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-lg btn-verde">
            <span class="glyphicon glyphicon-picture"></span>¡Publicar!</button>
        </div>
      </div>
      </form>
    </div>
  </div>

  <div id="hechas" name="hechas">
    <div class="container clear-top">
      <h2>
        <img
           alt="Diseños de los que ya se animaron"
           src="{{ url_for('static', filename='nodakar/imagenes/disenos-animaron.png') }}">
      </h2>

<div id="carrusel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carrusel" data-slide-to="0" class="active"></li>
    <li data-target="#carrusel" data-slide-to="1"></li>
    <li data-target="#carrusel" data-slide-to="2"></li>
    <li data-target="#carrusel" data-slide-to="3"></li>
    <li data-target="#carrusel" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner">
    {% for id_remera in hechas %}
    <div class="item {% if loop.first %}active{% endif %}">
      <div class="hechas-contenedor">
        <img src="{{ config.URL_SUBIDOS }}{{ id_remera }}.png" alt="{{ id_remera }}">
      </div>
    </div>
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#carrusel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carrusel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

    </div>
  </div>


  <div name="mas-info" id="mas-info">
    <div class="container clear-top">
      <div class="row  lead2">
        <h2>
          <img
             alt="Más información"
             src="{{ url_for('static', filename='nodakar/imagenes/mas-informacion.png') }}">
        </h2>
        <div class="info col-md-12">

          <p><a href="#info-antecedentes" id="btn-antecedentes" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Antecedentes</a>

            <a href="#info-oponemos" id="btn-oponemos" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Los Verdes nos oponemos al Rally Dakar</a>

          <p><a href="#info-opinion" id="btn-opinion" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Opinión Dakar.Elba y Gonzalo</a>

            <a href="#info-recorrido" id="btn-recorrido" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Recorrido</a>

          <a href="#info-documentos" id="btn-documentos" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Otros documentos</a>

          <p class="lead">Si no querés que el Dakar pase por tu ciudad o provincia, proponé a tus legisladores este proyecto de Ley "Libre de Dakar".
            <a href="#info-proyecto" id="btn-proyecto" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Proyecto de Declaración</a>

        </div>
      </div>
    </div>
  </div>

  <div name="info-antecedentes" id="info-antecedentes">
    <div class="container clear-top">
      <div class="row">
          <h2>
            <img
               alt="Antecedentes"
               src="{{ url_for('static', filename='nodakar/imagenes/antecedentes.png') }}">
          </h2>

        <div class="info col-md-10">

          <p>El Rally Dakar (anteriormente Rally París-Dakar) es una
          competición anual organizada por la Amaury Sport
          Organisation (ASO) a partir de 1979 y disputada durante las
          primeras semanas de enero. Es considerado uno de los rallies
          más duros y el más famoso del mundo.

          <p>Hasta 2008, durante el tiempo que duraba la prueba,
          llevaba a los corredores desde alguna ciudad de Europa hasta
          Dakar, la capital de Senegal. Durante muchos años la carrera
          partió de París; sin embargo, desde 1995 ha ido cambiando su
          lugar de inicio por otras ciudades europeas (como Granada o
          Lisboa) fundamentalmente por motivos publicitarios o
          políticos, puesto que la verdadera competición no comenzaba
          hasta que se entraba en África. Asimismo, el final de la
          prueba tampoco ha sido siempre Dakar.

          <p>Debido a que en 2008 fue suspendido por recomendación del
          gobierno de Francia por posibles atentados terroristas,
          desde 2009 el rally se ha desarrollado entre los países
          americanos de Argentina y Chile. En 2012 y 2013 también se
          incluyó a Perú y finalmente para el 2014 también estará
          Bolivia.

          <h3>
            <img
               alt="Polémicas"
               src="{{ url_for('static', filename='nodakar/imagenes/polemicas.png') }}">
          </h3>

          <p>Los ciudadanos africanos veían las carreras a lo largo de
          la ruta trazada en el desierto y muchos han muerto
          atropellados. Esto ha suscitado una gran polémica.

          <p>Durante la edición del año 2005, 24 organizaciones no
          gubernamentales, ecologistas y sindicales, suscribieron un
          manifiesto pidiendo la supresión del rally, al que tachaban
          de rodeo publicitario en el continente de la pobreza y
          criticaban la utilización de África, destrozada por el SIDA,
          el hambre y el endeudamiento, como terreno de juego, pese a
          que los equipos participantes cada año colaboran al
          desarrollo de dichas zonas, con el aporte de medicamentos y
          ayudas logísticas para los hospitales.

          <p>La edición de 2008 quedó salpicada por amenazas
          terroristas por parte del grupo terrorista Al Qaeda que
          llevaron a la suspensión de la prueba en África por
          recomendación del gobierno francés. En ese momento, se
          decidió que la edición siguiente se celebraría en América,
          pasando de Europa-África a Argentina-Chile.

          <p>Las tres primeras ediciones en Sudamérica (2009, 2010 y
          2011) tuvieron su punto de partida en la Ciudad de Buenos
          Aires. La del 2012 lo hizo desde Mar del Plata y la del 2013
          desde Lima, Perú.

          <p>Recientemente la Ciudad de Buenos Aires anunció que va a
          discontinuar con el circuito del TC 2000 en las calles
          porteñas debido a los cuestionamientos por el impacto
          ambiental que rodearon a las dos ediciones celebradas del
          Turismo Competición. Apuestan a la Fórmula E, con autos
          eléctricos, que no emite ni ruidos ni gases, “porque se
          trata de la tecnología que viene, en sintonía con todas las
          políticas que promueven una ciudad verde", dijo el
          subsecretario de Deportes porteño, Francisco Irarrázaval. De
          lo que se desprende que también se despiden del Dakar.

          <h3>
            <img
               alt="Muertes en el Dakar"
               src="{{ url_for('static', filename='nodakar/imagenes/muertes.png') }}">
          </h3>

          <p>Veintitrés participantes han muerto durante la disputa de
          alguna de las ediciones del Rally Dakar. En 1986, falleció
          el fundador de la prueba, Thierry Sabine, al estrellarse el
          helicóptero en el que viajaba junto a otros cuatro
          pasajeros.

          <ul>
            <li>1979: Patrick Dodin, motociclista, a causa de una caída.</li>
            <li>1982: Bert Oosterhuis, motociclista, a causa de una caída.</li>
            <li>1983: Jean Noël Pineau, motociclista, atropellado.</li>
            <li>1986: Yasuo Kaneko, motociclista, en un accidente.</li>
            <li>1988: Kees Van Loevezijn, copiloto de camión, en un accidente.</li>
            <li>1988: Patrick Canado, copiloto de auto, en un accidente.</li>
            <li>1991: Charles Cabannes, conductor de camión, por un disparo.</li>
            <li>1991: Laurent Le Bourgeois y Jean Marie Sounillac, piloto y copiloto de coche, en un accidente.</li>
            <li>1992: Gilles Lalay, motociclista, atropellado.</li>
            <li>1994: Michel Sansen, motociclista, por una caída.</li>
            <li>1996: Laurent Gueguen, conductor de camión, por una explosión producida al pisar una mina.</li>
            <li>1997: Jean Pierre Leduc, motociclista, por una caída.</li>
            <li>2003: Bruno Cauvy, copiloto de coche, en un accidente.</li>
            <li>2005: José Manuel Pérez, motociclista, por una caída.</li>
            <li>2005: Fabrizio Meoni, motociclista, por un paro cardíaco.</li>
            <li>2006: Andy Caldecott, motociclista, por una caída.</li>
            <li>2007: Elmer Symonds, motociclista, por una caída.</li>
            <li>2007: Eric Aubijoux, motociclista, por un paro cardíaco.</li>
            <li>2009: Pascal Terry, motociclista, por edema pulmonar.</li>
            <li>2010: Jean-Michel Baron, motociclista, por caída (1986), muere después de estar en estado vegetativo durante 24 años. </li>
            <li>2012: Jorge Martínez Boero, piloto de moto, traumatismo de tórax.</li>
            <li>2013: Thomas Bourgin, El joven piloto de motos de 25 años, colisionó de forma frontal con un vehículo policial cuando realizaba el enlace entre Calama y Salta en el kilómetro 140 de la ruta 27, cerca del Paso de Jama.</li>
          </ul>

          <h3>Fallecidos no ligados al Dakar</h3>

          <p>La siguiente lista corresponde a personas que no tenían
          ninguna relación con el Rally Dakar. El número de fallecidos
          se eleva por encima de la media centena si se añaden las
          muertes de otras personas, desde niños y mujeres de
          localidades africanas, a mecánicos o periodistas que cubrían
          el evento.

          <p><span class="naran">1982:</span> Muere un niño maliense, que jugaba en la ruta,
          arrollado por un vehículo de la prueba.

          <p><span class="naran">1984:</span> Una madre maliense muere y su hija resultó
          gravemente herida tras ser embestidas por un Range Rover que
          daba vueltas de campana, en Burkina Fasso.

          <p><span class="naran">1985:</span> Muere una niña nigeriana al ser atropellada por un
          coche de la prueba. Otra niña de 10 años muere atropellada en
          Mauritania.

          <p><span class="naran">1988:</span> Mueren atropellados una mujer y un niño en
          Mauritania. Muere una niña en la aldea maliense de
          Kitta. Dos niños y una mujer mueren atropellados en Malí,
          por un vehículo de asistencia del Rally Paris-Dakar.

          <p><span class="naran">1994:</span> Muere un niño senegalés al ser arrollado por un
          vehículo de asistencia.

          <p><span class="naran">1996:</span> Una niña guineana muere tras ser atropellada por el
          motociclista francés Marcel Pilet (KTM).

          <p><span class="naran">1998:</span> Cuatro personas mueren tras una colisión entre un
          taxi y un vehículo de la prueba ocurrida al sur de Nuakchot,
          la capital mauritana.

          <p><span class="naran">2006:</span> Boubakar Diallo, un niño guineano de 10 años, muere
          atropellado entre Lobé y Tambacounda por un vehículo de la
          Prueba Lisboa-Dakar. Esta fue la primera vez que la prensa
          publicó el nombre de una víctima "no piloto" del
          París-Dakar. Muere atropellado un niño senegalés, esta vez
          de 12 años de edad, entre Tambacounda y Dakar, por un camión
          de apoyo logístico en Senegal.

          <p><span class="naran">2009:</span> Dos personas al colisionar un vehículo particular
          con un camión de asistencia en el tramo entre La Serena y
          Ovalle.

          <p><span class="naran">2010:</span> La espectadora Natalia Sonia Gallardo muere
          atropellada en cercanías de Alpa Corral en una zona no
          reglamentaria en la provincia de Córdoba, Argentina, por la
          camioneta Desert Warrior (número 418) conducida por el
          alemán Mirco Shultis y navegado por el checo Ulrich Leardi.

          <p><span class="naran">2011:</span> Marcelo Reales, de 42 años, que manejaba un
          Rastrojero, fue embestido por una Toyota Hilux que llevaba
          el número 410, conducida por el piloto Eduardo Amor, en un
          tramo de enlace en cercanías de la ciudad catamarqueña de
          Tinogasta. También dos trabajadores perdieron la vida
          mientras montaban una carpa antes de que iniciara la
          competencia.

          <p><span class="naran">2012:</span> Dos personas, un hombre de 37 años y su hijo de 11,
          mueren al estrellarse con su avioneta en la que viajaban con
          la intención de seguir el trayecto de los pilotos. Un
          motociclista colombiano pierde la vida tras perder el
          control de su vehículo mientras intentaba seguir el Rally
          Dakar en Perú.

          <p><span class="naran">2013:</span> El chofer de colectivo, Arturo Maquela López, y el
          pasajero Humberto Gómez Vera, mueren luego de chocar
          frontalmente contra una camioneta de auxilio del rally en el
          kilómetro 1323 de la ruta Panamericana Sur, cerca de la
          frontera de Perú con Chile, en el municipio de Tacna. Como
          resultado de este accidente, otras diez personas resultaron
          heridas. En el choque también participaron otros dos
          vehículos, uno de ellos también formaba parte de la flota de
          apoyo del Dakar.

          <p>Fuente: Wikipedia

          <p>
            <a href="#header" id="info-arriba-1" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>

  <div name="info-oponemos" id="info-oponemos">
    <div class="container clear-top">
      <div class="row">

          <h2>
            <img
               alt="Los Verdes nos oponemos al Rally Dakar"
               src="{{ url_for('static', filename='nodakar/imagenes/oponemos.png') }}">
          </h2>

        <div class="info col-md-10">

          <p>La ciudad de Rosario ha sido elegida como punto de
          partida del Rally Dakar 2014 que recorrerá también Santa Fe,
          San Luis, Mendoza, Córdoba, San Juan, La Rioja, Catamarca,
          Tucumán, Jujuy y Salta, antes de cruzar hacia Bolivia.

          <p>El Dakar y competencias similares deben desaparecer
          porque generan impactos irreversibles y por los valores que
          promueven. Se trata de una parafernalia mecánica que insume
          recursos, contamina, destruye la naturaleza y el patrimonio
          paisajístico, arqueológico y cultural de los lugares por
          donde pasa. Su principal mensaje es el dominio de la
          naturaleza.

          <p>Llamativamente la Municipalidad de Rosario se considera
          un “ejemplo en cuanto a la promoción y desarrollo de
          políticas deportivas orientadas hacia la inclusión
          sociocultural” mientras avala esta competencia que nada
          tiene que ver con eso, sino que es un multimillonario
          negocio en el que las empresas despliegan sus innovaciones
          tecnológicas poniendo en riesgo la vida de competidores,
          equipo y ajenos a la competencia. El Dakar ya contabiliza en
          su nefasto haber más de una decena de personas muertas y es,
          sin dudas, la expresión más retrógrada y peligrosa del
          automovilismo actual que ya va por su sexta edición
          sudamericana.

          <p>Es preciso construir otra manera de relacionarnos con las
          personas y con la naturaleza, las evidencias de que es
          urgente un cambio de rumbo están a la vista y ell Rally
          Dakar representa la antítesis de esta idea. Continuar con la
          ocasión de más daños por mera diversión frente a un
          espectáculo nos reduce a la época del circo romano.

          <p>Los Verdes sumamos nuestra voz a la de innumerables
          organizaciones sociales y ambientalistas y pedimos la
          erradicación de este inviable evento. No más Dakar en
          Argentina, ni en Sudamérica, ni en ninguna otra parte del
          mundo: ninguna competencia justifica la muerte, ni la
          destrucción de ambientes y recursos únicos.

          <p>
            <a href="#header" id="info-arriba-2" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>

  <div name="info-opinion" id="info-opinion">
    <div class="container clear-top">
      <div class="row">
        <div class="info col-md-10">

          <p style="text-align:right">Septiembre 2013

          <h2>Rally Dakar: triste y lamentable “honor” para Rosario</h2>
          <h3>Por Gonzalo Gorostarzu y Elba Stancich*</h3>

          <p>Por sexta vez en Sudamérica, el <strong>Rally Dakar
          2014</strong> recorrerá más de 8.500 km de caminos de
          Argentina, Bolivia y Chile, atravesando una gran diversidad
          de terrenos “donde solo los verdaderos pilotos del desierto
          se sentirán a sus anchas”.

          <p>Rosario es la ciudad elegida para ser la sede de largada
          de la próxima edición de esta carrera de nivel
          internacional.

          <p>Las declaraciones que apuntan a posicionar a la ciudad en
          el “candelero internacional”, cálculos estimativos de los
          ingresos económicos que podría significar, y el entusiasmo
          que genera ser la sede de un evento de estas
          características, ocultan o minimizan qué tipo de valores se
          ensalzan con esta competición.

          <p>La imagen del todoterreno vinculada a la aventura y el
          descubrimiento de la naturaleza y el premio para quien tiene
          el valor y el aguante para sortear obstáculos peligrosos,
          supone la premisa de dominación de la naturaleza. Los
          conductores no registran el paisaje, los ambientes naturales
          son un obstáculo, un desafío, un adversario a ser
          derrotado. Estos vehículos tienen gran capacidad
          destructiva, su mayor volumen, peso y potencia implican
          mayor consumo de energía y mayores emisiones contaminantes,
          además de ser peligrosos también para quienes no son sus
          conductores. Así lo demuestra la historia de esta
          competencia que, desde sus comienzos en 1978, produjo más de
          50 víctimas, <a href="http://www.redbiografo.com.ar/paginas/dakar/120102-muertes-del-dakar.html">entre los que hay 11 niños</a>. “Los fallos, por
          pequeños que sean, se pagan caros”, dicen los promotores del
          Dakar hablando de sus valores.

          <p>La competencia transmite una mirada sobre los ecosistemas
          altoandinos como espacios recreativos ideales para poner a
          prueba habilidades de manejo o la calidad de los vehículos.
          Mitsubishi, Honda y Michelin están entre los promotores del
          evento y, como tales, promueven el turismo de aventura fuera
          de rutas, despreciando la fragilidad de estos
          ecosistemas. En esta edición participarán 183 motos, 38
          cuatrimotores, 153 coches, 75 camiones y 365 vehículos de
          asistencia; un total de 814 vehículos alterando y
          contaminando los sitios por donde pasarán. Uno de los
          lugares en riesgo es el Salar de Uyuni, ubicado en Bolivia
          al que se suman otros lugares de similar importancia en la
          región.

          <p>Los desiertos son ecosistemas frágiles, la UNESCO
          manifestó su preocupación por el paso del rally por sitios
          arqueológicos y los impactos que puede provocar. “Estos
          impactos resultan en erosión, pérdida del suelo, daño a
          costas y márgenes de ríos y compactación del suelo. Respecto
          de la fauna silvestre y doméstica se registran muertes por
          atropellos, pérdida de juveniles en zonas de reproducción y
          anidamiento y efectos indirectos por disturbios al suelo,
          agua y vegetación. Se ha comprobado que el paso de vehículos
          acelera el ritmo cardíaco y función metabólica de los
          animales y aumenta su nivel de stress causando fallas
          reproductivas o mortalidad”, explica Patricia Marconi del
          Grupo de Conservación de Flamencos Andinos.

          <p>Mientras en la ciudad de Rosario se debate un Plan de
          Movilidad Sostenible, que reconoce la necesidad de un cambio
          en el modelo de transporte actual hacia otro que signifique
          menos contaminación y que sea más saludable y beneficioso
          socialmente, festejar ser la sede del Rally Dakar es
          promover exactamente lo contrario a esa concepción.

          <p>Para la largada del Dakar, la Nación aporta 70 millones
          de pesos que se usarán <a href="http://www.lacapital.com.ar/la-ciudad/Empiezan-a-repavimentar-la-avenida-Belgrano-para-la-largada-del-Dakar-2014-20130831-0016.html">para “mejorar” la Av. Belgrano</a>,
          dinero que el municipio acepta gustoso y sin ningún prurito
          para asfaltar el característico e histórico empedrado que es
          parte también del patrimonio de la ciudad. Dinero que llega
          rápido, acorde al evento, en tanto la gestión para conseguir
          inversiones para resolver necesidades mucho más urgentes
          como cloacas se hace esperar.

          <p>Las toneladas equivalentes de carbono que el Dakar dice
          compensar y sus subvenciones sociales, no evitan el daño que
          ocasiona, solo intentan lavar una imagen, en una competencia
          que mueve mucho dinero, y eso es lo más importante.

          <p>El compromiso con el cambio urgente y necesario tiene que
          ser real y sostenido, y la coherencia y el ejemplo los
          tienen que dar la dirigencia política. Apoyando y celebrando
          esta competencia peligrosa no están dando el mejor de los
          ejemplos, ni demuestran compromiso ambiental alguno, más
          bien lo contrario.

          <p>*Los Verdes Santa Fe<br/>
            santafe@losverdes.org.ar<br/>
            <a href="http://www.losverdes.org.ar">www.losverdes.org.ar</a>

          <p>Twitter: <a href="https://twitter.com/gongor1971">@gongor1971</a> - <a href="https://twitter.com/estancich">@estancich</a> - <a href="https://twitter.com/SomosLosVerdes">@somoslosverdes</a>

          <p>
            <a href="#header" id="info-arriba-3" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>

  <div name="info-recorrido" id="info-recorrido">
    <div class="container clear-top">
      <div class="row">
        <div class="info col-md-12">

          <h2>
            <img
               alt="Recorrido"
               src="{{ url_for('static', filename='nodakar/imagenes/recorrido.png') }}">
          </h2>
          <div class="recorrido-img">
            <img alt="Recorrido 2014" src="{{ url_for('static', filename='nodakar/imagenes/recorrido2014.jpg') }}"/>
          </div>

          <p>
            <a href="#header" id="info-arriba-4" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>


  <div name="info-documentos" id="info-documentos">
    <div class="container clear-top">
      <div class="row">
          <h2>
            <img
               alt="Otros documentos"
               src="{{ url_for('static', filename='nodakar/imagenes/otros-documentos.png') }}">
          </h2>
        <div class="info col-md-10">


          <p><a href="{{ url_for('static', filename='nodakar/documentos/secuelas.docx') }}">Rally Dakar y sus secuelas</a>

          <p><a href="http://alainet.org/active/60809&lang=es">El Rally Dakar es anti ambiental - América Latina en movimiento</a>

          <p>Más información: <a href="http://noaldakar.co.nr/">http://noaldakar.co.nr/</a>

          <p>
            <a href="#header" id="info-arriba-6" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>

  <div name="info-proyecto" id="info-proyecto">
    <div class="container clear-top">
      <div class="row">
        <h2>
          <img
             alt="Proyecto de Declaración"
             src="{{ url_for('static', filename='nodakar/imagenes/proyecto.png') }}">
        </h2>
        <div class="info col-md-10">


          <h3>Ciudad, Provincia, Libre de Dakar</h3>

          <h4>Fundamentos</h4>

          <p>Rosario ha sido elegida como el sitio de largada del
          Rally Dakar 2014, una competencia mecánica que insume
          ingentes recursos, genera contaminación de todo tipo,
          avasalla la naturaleza y es un ejemplo paradigmático del
          exitismo dispendioso.

          <p>Las autoridades promueven este evento como una
          oportunidad de mostrar la ciudad al mundo apareciendo como
          un “ejemplo en la promoción y desarrollo de políticas
          deportivas orientadas hacia la inclusión sociocultural”.

          <p>Pero esta competencia nada tiene que ver con esos
          valores.

          <p>Este espectáculo está montado solo para hacer un gran
          negocio, donde las grandes empresas despliegan sus
          innovaciones tecnológicas poniendo en riesgo la vida no solo
          de los competidores y del equipo que los acompaña sino de
          otros muchos ajenos a la competencia.

          <p>Esta competencia es la expresión más retrógrada y
          peligrosa del automovilismo.

          <p>Hasta 2008, partía de alguna ciudad europea y llevaba a
          los corredores hasta Dakar, la capital de Senegal. Durante
          muchos años la carrera partió de París. En el año 2008 la
          carrera fue suspendida por recomendación del gobierno de
          Francia ante posibles atentados terroristas. Desde entonces,
          el rally se ha desarrollado entre los países americanos de
          Argentina y Chile, incorporándose luego Perú y Bolivia.

          <p>En su trazado, el Dakar echa por tierra el esfuerzo de
          mucha gente por conservar sitios del alto valor
          arqueológico, cultural y natural estableciendo obstáculos a
          ser superados a la mayor velocidad. Es la peor opción para
          hacer conocer paisajes y promover el turismo.

          <p>El dinero que eventualmente ingrese a las arcas
          estatales, de ninguna manera puede justificar esta verdadera
          promoción de una cultura de conquista y avasallamiento del
          medioambiente.

          <p>Durante la edición del año 2005, 24 organizaciones no
          gubernamentales, ecologistas y sindicales, suscribieron un
          manifiesto pidiendo la supresión del rally, al que tachaban
          de espectáculo publicitario para ricos en el continente de
          la pobreza y criticaban la utilización de África, destrozada
          por el SIDA, el hambre, las guerras y el endeudamiento, como
          terreno de juego.

          <p>La edición de 2008 quedó salpicada por amenazas
          terroristas por parte del grupo terrorista Al Qaeda que
          llevaron a la suspensión de la prueba en África por
          recomendación del gobierno francés.

          <p>Fue esa la razón por la que se decidió que la siguiente
          competencia se celebraría en América, pasando de
          Europa-África a Argentina-Chile.

          <p>Una vez más se monta un espectáculo para los ricos del
          mundo en un escenario en el que abunda la necesidad y la
          pobreza.

          <p>Los impactos que genera y los símbolos y valores que
          promueve son totalmente contrarios a los desafíos
          ambientales y sociales que tenemos que enfrentar en nuestra
          región y en el mundo.

          <p>El siglo 21 nos reclama otra manera de relacionarnos con
          las personas y con la naturaleza. Las evidencias de que es
          urgente un cambio de rumbo están a la vista. Ocasionar más
          daños al medioambiente por diversión y espectáculo nos
          reduce a la época del circo romano.

          <p>Es por todo ello que sostenemos que el Rally Dakar y
          competencias similares deben desaparecer y proponemos que se
          prohíba definitivamente espectáculos de estas
          características en territorio de nuestra provincia.

          <p>Por lo que solicitamos a los señores legisladores de
          nuestra Honorable Cámara de Diputados consideren la
          aprobación del siguiente proyecto de Ley.

          <p>Art. 1- Declárese el territorio provincial Libre de
          Dakar, prohibiéndose la realización y/o participación en el
          llamado rally Dakar ó cualquier competencia automovilística
          de características similares, quedando excluida la ciudad,
          provincia del recorrido de estas competencias
          automoviĺísticas.

          <p>Art.2- De forma.

          <p>
            <a href="#header" id="info-arriba-5" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>


  {% endblock %}

  {% block bodyscripts %}
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.file-input.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-minicolors/jquery.minicolors.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js//bootstrap-select.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='nodakar/js/nodakar.js') }}"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/localization/messages_es.js"></script>
  {% endblock %}
