{% extends "base.html" %}

  {% block head %}
  <link href='http://fonts.googleapis.com/css?family=Julee' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery-minicolors/jquery.minicolors.css') }}">
  <script src="{{ url_for('static', filename='fabricjs/all.js') }}"></script>
  {% endblock %}

  {% block body %}
  <div id="header">
    <div class="container clear-top">

      <h1>SACALE LA CARETA AL DAKAR,</h1>
      <h2>un evento de extrema exigencia…a la naturaleza</h2>
      <a href="#remera" id="menu-remera" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-arrow-down"></span> Diseñá tu remera</a>
      <span class="lead">&nbsp;y sumate a la protesta en Rosario.</span>
      <br/>
      <br/>
      <p class="lead">
        Mirá las remeras ya diseñadas
      <a href="#hechas" id="menu-hechas" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-down"></span>abajo</a>
      </p>
      <div class="row">
        <div class="info col-md-10">

          <p class="lead">La edición 2014 del Rally Dakar partirá en
          enero desde la ciudad de Rosario. Los Verdes nos oponemos a
          esta carrera, promocionada como un evento deportivo de alta
          exigencia, que es en realidad un millonario negocio que
          produce altísimos impactos en los ecosistemas que atraviesa,
          degrada la calidad de vida de sus habitantes y ha causado ya
          demasiada muerte.

          <p class="lead">Hace poco, la Secretaría de Cultura y
          Educación de la Municipalidad de Rosario se sumó al
          lanzamiento de la carrera con el concurso de diseño de
          remeras <a class="underline" href="http://www.rosariocultura.gob.ar/concursos-y-convocatorias/concurso-de-diseno-de-remeras-para-el-rally-dakar-2014">"Ponete
          la Camiseta del Dakar"</a>. Y nosotros te hacemos una
          contrapropuesta: mientras la ciudad te pide que te pongas la
          camiseta, nosotros te pedimos que le saques la careta.

          <p class="lead">Diseñá tu propia remera, usando esta
          aplicación y sumate vos también a la protesta que Los Verdes
          lanzamos en Rosario. No queremos Dakar ni acá, ni en
          Sudamérica.

          <p class="lead">Iremos mostrando las mejores remeras en
          nuestras redes sociales y en nuestra página la web. Decile
          No al Dakar.

          <p class="lead">En Twitter: #bastadedakar

          <p class="lead">Más información:
            <a href="#info-antecedentes" id="btn-antecedentes" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Antecedentes</a>

            <a href="#info-oponemos" id="btn-oponemos" class="btn btn-default">
              <span class="glyphicon glyphicon-arrow-down"></span> Los Verdes nos oponemos al Rally Dakar</a>
        </div>
      </div>

    </div>
  </div>
  <div id="logo-wrap">
    <div class="container clear-top">
      <a href="http://losverdes.org.ar/nuevo/">
        <img alt="Los Verdes" src="{{ url_for('static', filename='nodakar/imagenes/logo.png') }}"/>
      </a>
    </div>
  </div>

  <div id="remera" name="remera" class="container clear-top">
    <div class="row">
      <div class="col-md-8">

        <canvas id="nodakar" width="610", height="590"></canvas>

      </div>
      <div class="col-md-4">

        <div class="form-group">
          <label for="texto">Agregá o editá texto</label>
          <input type="text" id="texto" class="form-control" placeholder="Ingresá texto">
        </div>
        <div class="form-group">
          <label for="imagen">Agregá una imagen</label>
          <input type="file" id="imagen" title="Subir imagen" class="btn btn-default">
        </div>
        <div class="form-group">
          <label for="imagen">Agregá un diseño</label>
          <div id="disenios" class="row-fluid">
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/nodakar2.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/rueda.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/marca-rueda.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/flor1.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/desierto.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/piedra-a.svg') }}"/>
            </a>
            <a href="#">
              <img src="{{ url_for('static', filename='nodakar/imagenes/piedra-b.svg') }}"/>
            </a>
          </div>
        </div>
        <div class="form-group">
          <label>Coloreá el texto o diseño seleccionado</label>
          <input type="hidden" id="color" class="form-control">
        </div>
        <div class="form-group">
          <label>Editá lo seleccionado</label>
          <div class="clear-top">
            <div class="btn-group-vertical clear-top">
              <a href="#" id="btn-borrar" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> Borrar</a>
              <a href="#" id="btn-subir" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-up"></span> Subir</a>
              <a href="#" id="btn-bajar" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-down"></span> Bajar</a>
              <!-- <a href="#" id="btn-frente" class="btn btn-default">Traer elemento al frente</a> -->
              <!-- <a href="#" id="btn-fondo" class="btn btn-default">Mandar elemento al fondo</a> -->
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>¿Terminaste?</label>
        <a id="btn-fin" class="btn btn-default btn-lg btn-verde" data-toggle="modal" href="#formuPublicar">
          <span class="glyphicon glyphicon-picture"></span> ¡Publicar!</a>
        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="formuPublicar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <form class="form-horizontal" role="form" method="POST" action="{{ url_for('publicar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Publicá la remera</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
              <input type="text" name="nombre" id="inputNombre" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="inputCorreo" class="col-lg-2 control-label">Correo electrónico</label>
            <div class="col-lg-10">
              <input type="email" name="correo" id="inputCorreo" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="inputCiudad" class="col-lg-2 control-label">Ciudad</label>
            <div class="col-lg-10">
              <input type="text" name="ciudad" id="inputCiudad" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="inputProvincia" class="col-lg-2 control-label">Provincia</label>
            <div class="col-lg-10">
              <input type="text" name="provincia" id="inputProvincia" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="inputPais" class="col-lg-2 control-label">País</label>
            <div class="col-lg-10">
              <input type="text" name="pais" id="inputPais" class="form-control">
            </div>
          </div>

          <input type="hidden" name="imagen" id="inputImagen">

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-lg btn-verde">
            <span class="glyphicon glyphicon-picture"></span>¡Publicar!</button>
        </div>
      </div>
      </form>
    </div>
  </div>

  <div id="hechas" name="hechas">
    <div class="container clear-top">
      <h2>Diseños de los que ya se animaron</h2>

<div id="carrusel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carrusel" data-slide-to="0" class="active"></li>
    <li data-target="#carrusel" data-slide-to="1"></li>
    <li data-target="#carrusel" data-slide-to="2"></li>
    <li data-target="#carrusel" data-slide-to="3"></li>
    <li data-target="#carrusel" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner">
    {% for id_remera in hechas %}
    <div class="item {% if loop.first %}active{% endif %}">
      <div class="hechas-contenedor">
        <img src="{{ config.URL_SUBIDOS }}{{ id_remera }}.png" alt="{{ id_remera }}">
      </div>
    </div>
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#carrusel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carrusel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

    </div>
  </div>

  <div name="info-antecedentes" id="info-antecedentes">
    <div class="container clear-top">
      <div class="row">
        <div class="info col-md-10">

          <h2>Antecedentes</h2>

          <p>El Rally Dakar (anteriormente Rally París-Dakar) es una
          competición anual organizada por la Amaury Sport
          Organisation (ASO) a partir de 1979 y disputada durante las
          primeras semanas de enero. Es considerado uno de los rallies
          más duros y el más famoso del mundo.

          <p>Hasta 2008, durante el tiempo que duraba la prueba,
          llevaba a los corredores desde alguna ciudad de Europa hasta
          Dakar, la capital de Senegal. Durante muchos años la carrera
          partió de París; sin embargo, desde 1995 ha ido cambiando su
          lugar de inicio por otras ciudades europeas (como Granada o
          Lisboa) fundamentalmente por motivos publicitarios o
          políticos, puesto que la verdadera competición no comenzaba
          hasta que se entraba en África. Asimismo, el final de la
          prueba tampoco ha sido siempre Dakar.

          <p>Debido a que en 2008 fue suspendido por recomendación del
          gobierno de Francia por posibles atentados terroristas,
          desde 2009 el rally se ha desarrollado entre los países
          americanos de Argentina y Chile. En 2012 y 2013 también se
          incluyó a Perú y finalmente para el 2014 también estará
          Bolivia.

          <h3>Polémicas</h3>

          <p>Los ciudadanos africanos veían las carreras a lo largo de
          la ruta trazada en el desierto y muchos han muerto
          atropellados. Esto ha suscitado una gran polémica.

          <p>Durante la edición del año 2005, 24 organizaciones no
          gubernamentales, ecologistas y sindicales, suscribieron un
          manifiesto pidiendo la supresión del rally, al que tachaban
          de rodeo publicitario en el continente de la pobreza y
          criticaban la utilización de África, destrozada por el SIDA,
          el hambre y el endeudamiento, como terreno de juego, pese a
          que los equipos participantes cada año colaboran al
          desarrollo de dichas zonas, con el aporte de medicamentos y
          ayudas logísticas para los hospitales.

          <p>La edición de 2008 quedó salpicada por amenazas
          terroristas por parte del grupo terrorista Al Qaeda que
          llevaron a la suspensión de la prueba en África por
          recomendación del gobierno francés. En ese momento, se
          decidió que la edición siguiente se celebraría en América,
          pasando de Europa-África a Argentina-Chile.

          <p>Las tres primeras ediciones en Sudamérica (2009, 2010 y
          2011) tuvieron su punto de partida en la Ciudad de Buenos
          Aires. La del 2012 lo hizo desde Mar del Plata y la del 2013
          desde Lima, Perú.

          <p>Recientemente la Ciudad de Buenos Aires anunció que va a
          discontinuar con el circuito del TC 2000 en las calles
          porteñas debido a los cuestionamientos por el impacto
          ambiental que rodearon a las dos ediciones celebradas del
          Turismo Competición. Apuestan a la Fórmula E, con autos
          eléctricos, que no emite ni ruidos ni gases, “porque se
          trata de la tecnología que viene, en sintonía con todas las
          políticas que promueven una ciudad verde", dijo el
          subsecretario de Deportes porteño, Francisco Irarrázaval. De
          lo que se desprende que también se despiden del Dakar.

          <h3>Muertes en el Dakar</h3>

          <p>Veintitrés participantes han muerto durante la disputa de
          alguna de las ediciones del Rally Dakar. En 1986, falleció
          el fundador de la prueba, Thierry Sabine, al estrellarse el
          helicóptero en el que viajaba junto a otros cuatro
          pasajeros.

          <ul>
            <li>1979: Patrick Dodin, motociclista, a causa de una caída.</li>
            <li>1982: Bert Oosterhuis, motociclista, a causa de una caída.</li>
            <li>1983: Jean Noël Pineau, motociclista, atropellado.</li>
            <li>1986: Yasuo Kaneko, motociclista, en un accidente.</li>
            <li>1988: Kees Van Loevezijn, copiloto de camión, en un accidente.</li>
            <li>1988: Patrick Canado, copiloto de auto, en un accidente.</li>
            <li>1991: Charles Cabannes, conductor de camión, por un disparo.</li>
            <li>1991: Laurent Le Bourgeois y Jean Marie Sounillac, piloto y copiloto de coche, en un accidente.</li>
            <li>1992: Gilles Lalay, motociclista, atropellado.</li>
            <li>1994: Michel Sansen, motociclista, por una caída.</li>
            <li>1996: Laurent Gueguen, conductor de camión, por una explosión producida al pisar una mina.</li>
            <li>1997: Jean Pierre Leduc, motociclista, por una caída.</li>
            <li>2003: Bruno Cauvy, copiloto de coche, en un accidente.</li>
            <li>2005: José Manuel Pérez, motociclista, por una caída.</li>
            <li>2005: Fabrizio Meoni, motociclista, por un paro cardíaco.</li>
            <li>2006: Andy Caldecott, motociclista, por una caída.</li>
            <li>2007: Elmer Symonds, motociclista, por una caída.</li>
            <li>2007: Eric Aubijoux, motociclista, por un paro cardíaco.</li>
            <li>2009: Pascal Terry, motociclista, por edema pulmonar.</li>
            <li>2010: Jean-Michel Baron, motociclista, por caída (1986), muere después de estar en estado vegetativo durante 24 años. </li>
            <li>2012: Jorge Martínez Boero, piloto de moto, traumatismo de tórax.</li>
            <li>2013: Thomas Bourgin, El joven piloto de motos de 25 años, colisionó de forma frontal con un vehículo policial cuando realizaba el enlace entre Calama y Salta en el kilómetro 140 de la ruta 27, cerca del Paso de Jama.</li>
          </ul>

          <h3>Fallecidos no ligados al Dakar</h3>

          <p>La siguiente lista corresponde a personas que no tenían
          ninguna relación con el Rally Dakar. El número de fallecidos
          se eleva por encima de la media centena si se añaden las
          muertes de otras personas, desde niños y mujeres de
          localidades africanas, a mecánicos o periodistas que cubrían
          el evento.

          <p>1982: Muere un niño maliense, que jugaba en la ruta,
          arrollado por un vehículo de la prueba.

          <p>1984: Una madre maliense muere y su hija resultó
          gravemente herida tras ser embestidas por un Range Rover que
          daba vueltas de campana, en Burkina Fasso.

          <p>1985: Muere una niña nigeriana al ser atropellada por un
          coche de la prueba. Otra niña de 10 años muere atropellada en
          Mauritania.

          <p>1988: Mueren atropellados una mujer y un niño en
          Mauritania. Muere una niña en la aldea maliense de
          Kitta. Dos niños y una mujer mueren atropellados en Malí,
          por un vehículo de asistencia del Rally Paris-Dakar.

          <p>1994: Muere un niño senegalés al ser arrollado por un
          vehículo de asistencia.

          <p>1996: Una niña guineana muere tras ser atropellada por el
          motociclista francés Marcel Pilet (KTM).

          <p>1998: Cuatro personas mueren tras una colisión entre un
          taxi y un vehículo de la prueba ocurrida al sur de Nuakchot,
          la capital mauritana.

          <p>2006: Boubakar Diallo, un niño guineano de 10 años, muere
          atropellado entre Lobé y Tambacounda por un vehículo de la
          Prueba Lisboa-Dakar. Esta fue la primera vez que la prensa
          publicó el nombre de una víctima "no piloto" del
          París-Dakar. Muere atropellado un niño senegalés, esta vez
          de 12 años de edad, entre Tambacounda y Dakar, por un camión
          de apoyo logístico en Senegal.

          <p>2009: Dos personas al colisionar un vehículo particular
          con un camión de asistencia en el tramo entre La Serena y
          Ovalle.

          <p>2010: La espectadora Natalia Sonia Gallardo muere
          atropellada en cercanías de Alpa Corral en una zona no
          reglamentaria en la provincia de Córdoba, Argentina, por la
          camioneta Desert Warrior (número 418) conducida por el
          alemán Mirco Shultis y navegado por el checo Ulrich Leardi.

          <p>2011: Marcelo Reales, de 42 años, que manejaba un
          Rastrojero, fue embestido por una Toyota Hilux que llevaba
          el número 410, conducida por el piloto Eduardo Amor, en un
          tramo de enlace en cercanías de la ciudad catamarqueña de
          Tinogasta. También dos trabajadores perdieron la vida
          mientras montaban una carpa antes de que iniciara la
          competencia.

          <p>2012: Dos personas, un hombre de 37 años y su hijo de 11,
          mueren al estrellarse con su avioneta en la que viajaban con
          la intención de seguir el trayecto de los pilotos. Un
          motociclista colombiano pierde la vida tras perder el
          control de su vehículo mientras intentaba seguir el Rally
          Dakar en Perú.

          <p>2013: El chofer de colectivo, Arturo Maquela López, y el
          pasajero Humberto Gómez Vera, mueren luego de chocar
          frontalmente contra una camioneta de auxilio del rally en el
          kilómetro 1323 de la ruta Panamericana Sur, cerca de la
          frontera de Perú con Chile, en el municipio de Tacna. Como
          resultado de este accidente, otras diez personas resultaron
          heridas. En el choque también participaron otros dos
          vehículos, uno de ellos también formaba parte de la flota de
          apoyo del Dakar.

          <p>Fuente: Wikipedia

          <p>
            <a href="#header" id="info-arriba-1" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>

  <div name="info-oponemos" id="info-oponemos">
    <div class="container clear-top">
      <div class="row">
        <div class="info col-md-10">

          <h2>Los Verdes nos oponemos al Rally Dakar</h2>


          <p>La ciudad de Rosario ha sido elegida como punto de
          partida del Rally Dakar 2014 que recorrerá también Santa Fe,
          San Luis, Mendoza, Córdoba, San Juan, La Rioja, Catamarca,
          Tucumán, Jujuy y Salta, antes de cruzar hacia Bolivia.

          <p>El Dakar y competencias similares deben desaparecer
          porque generan impactos irreversibles y por los valores que
          promueven. Se trata de una parafernalia mecánica que insume
          recursos, contamina, destruye la naturaleza y el patrimonio
          paisajístico, arqueológico y cultural de los lugares por
          donde pasa. Su principal mensaje es el dominio de la
          naturaleza.

          <p>Llamativamente la Municipalidad de Rosario se considera
          un “ejemplo en cuanto a la promoción y desarrollo de
          políticas deportivas orientadas hacia la inclusión
          sociocultural” mientras avala esta competencia que nada
          tiene que ver con eso, sino que es un multimillonario
          negocio en el que las empresas despliegan sus innovaciones
          tecnológicas poniendo en riesgo la vida de competidores,
          equipo y ajenos a la competencia. El Dakar ya contabiliza en
          su nefasto haber más de una decena de personas muertas y es,
          sin dudas, la expresión más retrógrada y peligrosa del
          automovilismo actual que ya va por su sexta edición
          sudamericana.

          <p>Es preciso construir otra manera de relacionarnos con las
          personas y con la naturaleza, las evidencias de que es
          urgente un cambio de rumbo están a la vista y ell Rally
          Dakar representa la antítesis de esta idea. Continuar con la
          ocasión de más daños por mera diversión frente a un
          espectáculo nos reduce a la época del circo romano.

          <p>Los Verdes sumamos nuestra voz a la de innumerables
          organizaciones sociales y ambientalistas y pedimos la
          erradicación de este inviable evento. No más Dakar en
          Argentina, ni en Sudamérica, ni en ninguna otra parte del
          mundo: ninguna competencia justifica la muerte, ni la
          destrucción de ambientes y recursos únicos.

          <p>
            <a href="#header" id="info-arriba-2" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-arrow-up"></span> Volver</a>

        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block bodyscripts %}
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.file-input.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-minicolors/jquery.minicolors.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='nodakar/js/nodakar.js') }}"></script>
  {% endblock %}
