{% extends "base.html" %}

  {% block head %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
  {% endblock %}

  {% block body %}
  <div class="container">
    <div class="row">
    <div id="barra-detalle" class="col-md-4">
      <div>
        <h2><strong>{{ nombre }}</strong> le sacó la camiseta al Dakar</h2>
        <p class="lead">
          Hacelo vos también,
          <a href="{{ url_for('index') }}" class="btn btn-default btn-lg">
            Diseñá tu remera</a>
        </p>
        <h2>Compartir</h2>
        <p>
          <a class="btn btn-default btn-lg" href="https://twitter.com/share?text=%40somoslosverdes+y+yo+le+decimos+%23NoAlDakar" target="_blank">
            <span class="glyphicon icon-twitter"></span> Compartir en Twitter</a>
          <br/>
          <br/>
          <a class="btn btn-default btn-lg" href="https://www.facebook.com/sharer/sharer.php?u={{ config.URL_SITIO }}{{ url_for('remera', id_remera='{{ id_remera }}') }}" target="_blank">
            <span class="glyphicon icon-facebook"></span> Compartir en Facebook
          </a>
        </p>

      </div>
      <div id="logo-wrap" class="gris">
        <div class="container clear-top">
          <a href="http://losverdes.org.ar/nuevo/">
            <img alt="Los Verdes" src="{{ url_for('static', filename='nodakar/imagenes/logogris.png') }}"/>
          </a>
        </div>
      </div>
    </div>
    <div id="remera-publicada" class="col-md-8">
      <img src="{{ config.URL_SUBIDOS }}{{ id_remera }}.png"></img>
    </div>
  </div>
  </div>
  {% endblock %}
